# Module 2: Exercise

>__Task 1__
>
>Import pandas and NumPy libraries using their alias

In [ ]:
...
...

## Python Native Data Types

### Numbers, Strings, Booleans

>__Task 2__
>
>Perform the following operations and return to see the results
>- $3+2\times4$
>- $(3+2)\div4$
>- $(3+2)^4$
>- get the integer quotient of $(3+2)/4$ using floor division

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

Note __the floor division rounds the result to the nearest whole number__.

>__Task 3__
>
>Run the following cells and find the data type of each object

In [ ]:
4//7

In [ ]:
# Return data type
...

In [ ]:
a = 11/(-3)
a

In [ ]:
# Return data type
...

In [ ]:
b = True
# Return data type
...

>__Task 4__
>
>Assume your student ID is 00223298, assign it to a variable as a string object

In [ ]:
id = ...
# Return data type
...

>__Task 5__
>
>Convert the variable __c__ below to float

In [ ]:
c = '6.0'
# Convert to float
c = ...
c

In [ ]:
# Return data type
...

>__Task 6__
>
>Run the cell below to get the value of variable __d__ and then convert it to integer

In [ ]:
d = (-6) < 78
d

In [ ]:
# Convert to integer
d = ...
d

In [ ]:
# Return data type
...

### Lists, Tuples, Sets

>__Task 7__
>
>Create a list, a tuple, and a set containing the following elements and compare the outputs:
>
>`0`, `robot` (str), `-9`, `False` (bool), `77`, `77`, `100`, `true` (str)

In [ ]:
# Create a list
l = ...
l

In [ ]:
# Return data type
...

In [ ]:
# Create a tuple
t = ...
t

In [ ]:
# Return data type
...

In [ ]:
# Create a set
s = ...
s

In [ ]:
# Return data type
...

>__Task 8__
>
>Overwrite the element `true` to `1` in the above list __l__

In [ ]:
...
l

>__Task 9__
>
>Add `age` and `weight` to the list __e__ below using __`+`__

In [24]:
e = ['diabetes', 'heart bypass']
e

['diabetes', 'heart bypass']

In [ ]:
f = ...
f

Alternatively, you can use the __`extend()`__ method to add item(s) to the end of the list:

In [26]:
e.extend(['age', 'weight'])
e

['diabetes', 'heart bypass', 'age', 'weight']

### Dictionaries

In [27]:
cities = {'Australia' :['Sydney', 'Melbourne', 'Canberra'],
          'Canada'    :['Toronto', 'Montreal', 'Ottawa'],
          'Germany'   :['Berlin', 'Hamburg', 'Munich'],
          'Japan'     :['Tokyo', 'Osaka', 'Nagoya']}
cities

{'Australia': ['Sydney', 'Melbourne', 'Canberra'],
 'Canada': ['Toronto', 'Montreal', 'Ottawa'],
 'Germany': ['Berlin', 'Hamburg', 'Munich'],
 'Japan': ['Tokyo', 'Osaka', 'Nagoya']}

>__Task 10__
>
>Return only values of the `Japan` key

In [ ]:
...

>__Task 11__
>
>Return only values and only keys of the dictionary __cities__

In [ ]:
# Return only values
...

In [ ]:
# Return only keys
...

You can use a __`for`__ loop to print not only keys but also the values corresponding to that keys:

In [31]:
for k in cities.keys():
    print('key: ', k, '\nvalue: ', cities[k], '\n')

key:  Australia
value:  ['Sydney', 'Melbourne', 'Canberra']

key:  Canada
value:  ['Toronto', 'Montreal', 'Ottawa']

key:  Germany
value:  ['Berlin', 'Hamburg', 'Munich']

key:  Japan
value:  ['Tokyo', 'Osaka', 'Nagoya']

>__Task 12__
>
>Return the same output above using the __`items()`__ method within a `for` loop

In [ ]:
...

>__Task 13__
>
>Add `Egypt` as a new key to __cities__ and `Cairo`, `Durban`, `Alexandria` as its corresponding values

In [ ]:
...
cities

>__Task 14__
>
>`Durban` is actually in South Africa. Overwrite it with `Giza` and then confirm values of the __Egypt__ column

In [ ]:
...
...

>__Task 15__
>
>Delete the key `Germany` from __cities__

In [ ]:
...
cities

## NumPy Arrays

>__Task 16__
>
>Create an array that contains a list of `99`, `2`, `65`

In [ ]:
arr = ...
arr

>__Task 17__
>
>Run the following operations to see the results

In [ ]:
# Natural logarithm
np.log(arr)

In [ ]:
# Square root
np.sqrt(arr)

In [ ]:
# Cosine
np.cos(arr)

We can use the __`arange()`__ method to create an array from 0 to any number of values we want. For example, we want an array of 20 numbers, we write:

In [40]:
num1 = np.arange(20)
num1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

>__Task 18__
>
>Retrieve the first 5 numbers of the above array __num1__

In [ ]:
...

We can also pass the __`reshape()`__ function with `arange()` to specify rows and columns. For example, we can rearrange the above array into 5 rows and 4 columns:

In [42]:
num2 = np.arange(20).reshape(5,4)
num2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

>__Task 19__
>
>Retrieve the numbers from the last 2 rows and first 3 columns in the array __num2__ (your output should return `[12, 13, 14], [16, 17, 18]`)

In [ ]:
...

## Pandas Series and DataFrames

>__Task 20__
>
>Import the data file "bank_data.csv"

In [ ]:
bank = ...
bank

>__Task 21__
>
>Select __age__ column as a series and confirm the result by checking its data type

In [ ]:
...

In [ ]:
# Return data type
...

Notice that __`df[...]` returns a series and `df[[...]]` returns a data frame__.

>__Task 22__
>
>Select columns __job__, __education__, and __balance__ as a data frame and confirm the result by checking its data type

In [ ]:
...

In [ ]:
# Return data type
...

>__Task 23__
>
>Retrieve the last 7 rows and first 5 columns from the __bank__ data

In [ ]:
...

### Dates and Times

Let's create a new column of the client contact dates using the __bank__ data:

In [50]:
bank['contact_date'] = bank['year'].astype(str)+'-'+bank['month'].astype(str)+'-'+bank['day'].astype(int).astype(str)
bank['contact_date']

0       2022-10-19
1        2022-5-11
2        2022-4-16
3         2022-6-3
4         2022-5-5
           ...
4516     2022-7-30
4517      2022-5-9
4518     2022-8-19
4519      2022-2-6
4520      2022-4-3
Name: contact_date, Length: 4521, dtype: object

The last line above shows that the dtype (data type) is a generic object, not a datetime type.

>__Task 24__
>
>Convert the __contact_date__ column to a datetime object

In [ ]:
bank['contact_date'] = ...
bank['contact_date']

Now, it is properly read as date.

## Data Manipulation

In [52]:
import warnings
warnings.filterwarnings("ignore")

>__Task 25__
>
>Import the data file "hc_train.csv" and explore the first 5 rows

In [ ]:
hc = ...
...

>__Task 26__
>
>Convert the values of the __Department__ column to uppercase

In [ ]:
...

### Replace Values

>__Task 27__
>
>Replace `TB & Chest disease` in the __Department__ column with `Tuberculosis & Chest`

In [ ]:
...

# Print unique variables in the column to confirm the change 
hc['Department'].unique()

We can also replace with different values by passing a list or dict as substitutes.

>__Task 28__
>
>Replace values in the __Severity of Illness__ column with a dictionary that maps variables below:
>
>- Extreme: '3rd degree'
>- Moderate: '2nd degree'
>- Minor: '1st degree'

In [ ]:
# Creat a dict
map_dict = ...
# Replace values with the dict
...

### Rename Column and Row Labels

>__Task 29__
>
>Rename all column headings to their lowercase values by passing a `str` function

In [ ]:
...

>__Task 30__
>
>Rename the column headings below using a dictionary that maps
>
>- `Severity of Illness` to `Severity`
>- `case_id` to `ID`

In [ ]:
col_dict = ...
...

### Binning Methods

>__Task 31__
>
>Group the case IDs into three categories below:
>
>- (0, 100000) to `old case`
>- (100001-200000) to `recent case`
>- (200001-last) to `new case`

In [59]:
# Check the maximum value of the column
hc['case_id'].max()

318438

In [ ]:
group = ...
group

>__Task 32__
>
>Group the case IDs into to 3 equal-sized bins with 4 decimal places

In [ ]:
group_equ = ...
group_equ

>__Task 33__
>
>Group the case IDs into 4 quartiles with 2 decimal places

In [ ]:
group_qua = ...
group_qua

### Random Sampling

>__Task 34__
>
>Randomly select 10 data points from the __hc__ data without repeat elements

In [ ]:
...

>__Task 35__
>
>Randomly select 50 data points from the __patientid__ column allowing repeat elements

In [ ]:
...